/*Mobil størrelse*/

* {
    margin: 0;
    padding: 0;
    color: #477277;
}

body {
    font-family: 'Merienda';
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow-y: hidden;
}

.nav-ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-color: #8AC3CB
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* Scroll Snap */
    scroll-snap-align: center;
}

.Video {
    height: 30vh;
}

.About {
    background-color: #9FDBE3;
    height: 40vh
}

.About p {
    width: 90%;
}

.Music {
    height: 70vh;
}

.Contact {
    background-color: #9FDBE3;
    height: 40vh
}

.mobile {
    display: none
}

footer {
    justify-content: center;
}

section h1 {
    font-size: 1.5rem;
    color: red;
}

.Contact h3 {
    font-size: 1.5rem;
}

.Contact p {
    font-size: .8rem;
    margin-top: 10px;
}

.Contact a {
    font-size: 1.5rem;
    margin-top: 30px;
}

.footer {
    display: flex;
    height: 7vh;
    background-color: black;
}

.footer ul {
    width: 98vw;
    display: flex;
    justify-content: space-evenly;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    color: red;
}

.Music .img-box img {
    width: 80%;
    border-radius: 30px
}

.Music audio {
    margin-top: 2rem;
    width: 80%;
}

.Music h4 {
    color: red;
    margin-top: 10px;
    margin-bottom: -30px;
}

.Music .playlist li,
i {
    font-weight: bold;
    list-style: none;
}

.active {
    color: red
}


/*Audio styling*/

audio::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 50%;
}

audio::-webkit-media-controls-panel {
    background-color: #8AC3CB;
}


/*tablet og pc størrelse*/

@media screen and (min-width: 426px) {
    .mobile {
        display: flex;
    }
    nav {
        position: fixed;
        top: 0;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 60px;
    }
    .nav-ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
    }
    nav ul li {
        padding: 0rem 1rem;
    }
    nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2vw;
    }
    nav ul li a:hover {
        color: red;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        /* Scroll Snap */
        scroll-snap-align: center;
    }
    .container-text {
        width: 40%;
        display: block;
        margin-left: 50%;
    }
    .Video {
        height: 100vh;
    }
    .About {
        background-color: #9FDBE3;
        height: 100vh;
        font-size: 2rem;
        background-image: url(hanne_blur.png);
        background-size: cover
    }
    .Music {
        height: 100vh;
    }
    .Contact {
        background-color: #9FDBE3;
        height: 93vh
    }
    .footer {
        display: flex;
        justify-content: space-evenly;
        height: 7vh;
    }
    section h1 {
        font-size: 3rem;
        padding-top: 50px
    }
    .Contact h3 {
        font-size: 3rem;
    }
    .Contact a:hover {
        color: red;
    }
    .Music audio {
        max-width: 900px;
    }
    .Music .playlist li i {
        font-size: 1.2rem;
    }
}