/*Mobil størrelse*/

* {
    margin: 0;
    padding: 0;
    color: #477277;
}

body {
    font-family: 'Merienda';
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow-y: hidden;
}

.nav-ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-color: #8AC3CB
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* Scroll Snap */
    scroll-snap-align: center;
}

.Video {
    height: 40vh;
}

.About {
    background-color: #9FDBE3;
    height: 75vh;
}

.About p {
    width: 90%;
}

.About img {
    height: 200px;
    width: 90%;
    max-width: 320px;
    border-radius: 30px;
}

.Music {
    height: 95vh;
}

.Contact {
    background-color: #9FDBE3;
    height: 40vh
}

.mobile {
    display: none
}

footer {
    justify-content: center;
}

section h1 {
    font-size: 1.5rem;
    color: red;
}

.Contact h3 {
    font-size: 1.5rem;
}

.Contact p {
    font-size: .8rem;
    margin-top: 10px;
}

.Contact a {
    font-size: 1.5rem;
    margin-top: 30px;
}

.footer {
    display: flex;
    height: 7vh;
    background-color: black;
}

.footer ul {
    width: 98vw;
    display: flex;
    justify-content: space-evenly;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    color: red;
}

.Music .img-box img {
    width: 80%;
    border-radius: 30px
}

.Music audio {
    margin-top: 2rem;
    width: 80%;
}

.Music h4 {
    color: red;
    margin-top: 10px;
    margin-bottom: -30px;
}

.Music .img-box img {
    margin-top: 20px;
    width: 70%;
}

.Music .playlist li,
i {
    font-weight: bold;
    list-style: none;
}

.active {
    color: red
}


/*Audio styling*/

audio::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 50%;
}

audio::-webkit-media-controls-panel {
    background-color: #8AC3CB;
}


/*Test*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@keyframes harlem {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    20% {
        transform: scale(1.03, 1);
        -webkit-transform: scale(1.03, 1);
        -moz-transform: scale(1.03, 1);
        -o-transform: scale(1.03, 1);
        -ms-transform: scale(1.03, 1);
    }
    40% {
        transform: scale(0.97, 1);
        -webkit-transform: scale(0.97, 1);
        -moz-transform: scale(0.97, 1);
        -o-transform: scale(0.97, 1);
        -ms-transform: scale(0.97, 1);
    }
    60% {
        transform: scale(1.01, 1);
        -webkit-transform: scale(1.01, 1);
        -moz-transform: scale(1.01, 1);
        -o-transform: scale(1.01, 1);
        -ms-transform: scale(1.01, 1);
    }
    80% {
        transform: scale(0.99, 1);
        -webkit-transform: scale(0.99, 1);
        -moz-transform: scale(0.99, 1);
        -o-transform: scale(0.99, 1);
        -ms-transform: scale(0.99, 1);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
}

.screen h2 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #fff;
}

.screen h4 {
    margin: 0 0 5px 29px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #fff;
}

.screen h5 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    color: #6d6d6d;
}

h6 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    color: #f0f0f0;
}

.screen {
    background-color: #fff;
    padding: 0;
    height: 550px;
    width: 366px;
    top: 0;
    left: 100%;
    transform: translate(0%, 0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    margin: 30px 0;
}

input[type=checkbox] {
    visibility: hidden;
    margin: 0;
    padding: 0;
    z-index: 10;
}

label.main:before {
    position: absolute;
    top: 23px;
    left: 23px;
    font-family: FontAwesome;
    content: '\f0c9';
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease-in;
}

label.main:hover:before {
    color: #ff564c;
}

.screen>#magicButton:checked~label.main:before {
    color: #ff564c;
    transition: all 0.3s ease-in;
}

.coverImage {
    background: url('Ukulele_Hanne_Cover.jpg') center no-repeat;
    background-size: cover;
    width: 366px;
    height: 366px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.coverImage {
    transform: scale(0.251, 0.251);
    left: 23px;
    top: 60px;
    transition: all 0.3s ease-in;
    border-radius: 20px;
}

.search:before {
    position: absolute;
    top: 23px;
    right: 23px;
    font-family: FontAwesome;
    content: '\f002';
    color: #959595;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease-in;
}

.search:hover:before {
    color: #ff564c;
}

.bodyPlayer {
    position: absolute;
    top: 366px;
    left: 0;
    margin: 0;
    padding: 0;
    height: 286px;
    width: 366px;
    background: #111;
    transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.bodyPlayer {
    height: 470px;
    left: 0;
    top: 180px;
    transition: all 0.3s ease-in;
}

.list {
    border-spacing: 0px 2px;
    width: 342px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 378px;
    left: 12px;
    transform-origin: 0% 0%;
    transform: scale(0.1, 0.1);
    transition: all 0.3s ease-in;
}

.list tr {
    transform-origin: 0% 50%;
    height: 50px;
    text-align: center;
    background: #1d1d1d;
    text-indent: 8px;
}

.list tr:hover {
    background: #222;
    cursor: pointer;
}

.title {
    width: 215px;
    text-align: left;
    text-indent: 15px;
    transition: all 0.11s ease-in;
}

.list tr:hover .title {
    padding-left: 5px;
    width: 210px;
    transition: all 011s ease-in;
}

.screen>#magicButton:checked~.list {
    top: 192px;
    left: 12px;
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
    transition: all 0.3s ease-in;
}

.screen>#magicButton~table tr:nth-child(1) {
    opacity: 1;
    animation: harlem 0.3s linear forwards;
    animation-delay: 0.185s;
}

.screen>#magicButton~table tr:nth-child(2) {
    animation: harlem 0.3s linear forwards;
    animation-delay: 0.2s;
}

.screen>#magicButton~table tr:nth-child(3) {
    animation: harlem 0.3s linear forwards;
    animation-delay: 0.215s;
}

.screen>#magicButton~table tr:nth-child(4) {
    animation: harlem 0.3s linear forwards;
    animation-delay: 0.235s;
}

.screen>#magicButton~table tr:nth-child(5) {
    animation: harlem 0.3s linear forwards;
    animation-delay: 0.245s;
}

.screen>#magicButton~table tr:nth-child(6) {
    animation: harlem 0.3s linear forwards;
    animation-delay: 0.26s;
}

label.icons:before {
    font-family: FontAwesome;
    content: '\f08a';
    color: #777;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.15s linear;
}

td>#heart:checked~label.icons:before {
    content: "\f004";
    color: #ff564c;
    transition: all 0.15s linear;
}

td>#heart1:checked~label.icons:before {
    content: "\f004";
    color: #ff564c;
    transition: all 0.15s linear;
}

td>#heart2:checked~label.icons:before {
    content: "\f004";
    color: #ff564c;
    transition: all 0.15s linear;
}

td>#heart3:checked~label.icons:before {
    content: "\f004";
    color: #ff564c;
    transition: all 0.15s linear;
}

td>#heart4:checked~label.icons:before {
    content: "\f004";
    color: #ff564c;
    transition: all 0.15s linear;
}

td>#heart5:checked~label.icons:before {
    content: "\f004";
    color: #ff564c;
    transition: all 0.15s linear;
}

td>#heart6:checked~label.icons:before {
    content: "\f004";
    color: #ff564c;
    transition: all 0.15s linear;
}

.info {
    position: absolute;
    text-align: center;
    top: 460px;
    transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.info {
    top: 66px;
    left: 126px;
    text-align: left;
    transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.info h4 {
    margin-left: 0;
    font-size: 16px;
    color: #111111;
    transition: all 0.3s ease-in;
}

.player {
    background: none;
    text-align: center;
    font-family: FontAwesome;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    width: 216px;
    height: 35px;
    position: absolute;
    bottom: 110px;
    left: 48%;
    transform: translate(-50%, 0);
    z-index: 10;
    transition: all 0.3s ease-in;
}

.player td {
    width: 72px;
}

.backward:before {
    content: "\f04a";
    cursor: pointer;
    transition: all 0.15s linear;
}

.forward:before {
    content: "\f04e";
    cursor: pointer;
    transition: all 0.15s linear;
}

.play:before {
    content: "\f04b";
    cursor: pointer;
    transition: all 0.15s linear;
}

.backward:hover:before {
    color: #ff564c;
    transition: all 0.15s linear;
}

.play:hover:before {
    color: #ff564c;
    transition: all 0.15s linear;
}

.forward:hover:before {
    color: #ff564c;
    transition: all 0.15s linear;
}

td>#play:checked~label.play:before {
    content: "\f04c";
    transition: all 0.15s linear;
}

.screen>#magicButton:checked~.player {
    bottom: 4px;
    left: -44px;
    transform: scale(0.45, 0.45);
    transition: all 0.3s ease-in;
}

.shadow {
    background: rgba(17, 17, 17, 0.8);
    width: 360px;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 0;
    box-shadow: 0px -15px 40px rgba(17, 17, 17, 0.8);
}

.bottom {
    background: none;
    font-family: FontAwesome;
    color: #6d6d6d;
    font-size: 15px;
    line-height: 15px;
    height: 45px;
    width: 360px;
    position: absolute;
    bottom: 10px;
    left: 23px;
    z-index: 20;
    transition: all 0.15s linear;
    transition: bottom 0.3s linear;
}

.love:before {
    content: "\f08a";
    cursor: pointer;
    transition: all 0.15s linear;
}

.shuffle:before {
    content: "\f074";
    cursor: pointer;
    transition: all 0.15s linear;
}

.repeat:before {
    content: "\f01e";
    cursor: pointer;
    transition: all 0.15s linear;
}

.options:before {
    content: "\f141";
    cursor: pointer;
    transition: all 0.15s linear;
}

.love:hover:before {
    color: #bbb;
    transition: all 0.15s linear;
}

.shuffle:hover:before {
    color: #bbb;
    transition: all 0.15s linear;
}

.repeat:hover:before {
    color: #bbb;
    transition: all 0.15s linear;
}

.options:hover:before {
    color: #bbb;
    transition: all 0.15s linear;
}

td>#love:checked~label.love:before {
    content: "\f004";
    color: #ff564c;
    transition: all 0.15s linear;
}

td>#love:checked~label.love:before {
    color: #ff564c;
    transition: all 0.15s linear;
}

td>#love:checked~label.love:before {
    color: #ff564c;
    transition: all 0.15s linear;
}

.screen>#magicButton:checked~.bottom {
    bottom: -60px;
    transition: all 0.3s ease-in;
}

.current {
    position: absolute;
    right: 23px;
    bottom: -60px;
    transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.current {
    bottom: 17px;
    transition: all 0.3s ease-in;
}

audio {
    visibility: hidden;
}


/*tablet og pc størrelse*/

@media screen and (min-width: 426px) {
    .mobile {
        display: flex;
    }
    .pc-hide {
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 60px;
    }
    .nav-ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
    }
    nav ul li {
        padding: 0rem 1rem;
    }
    nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2vw;
    }
    nav ul li a:hover {
        color: red;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        /* Scroll Snap */
        scroll-snap-align: center;
    }
    .container-text {
        font-size: 1rem;
        width: 40%;
        display: block;
        margin-left: 50%;
    }
    .Video {
        height: 100vh;
    }
    .About {
        background-color: #9FDBE3;
        height: 100vh;
        font-size: 2rem;
        background-image: url(hanne_blur.png);
        background-size: cover
    }
    .Music {
        height: 100vh;
    }
    .Music .img-box {
        height: 430px;
    }
    .Contact {
        background-color: #9FDBE3;
        height: 93vh
    }
    .footer {
        display: flex;
        justify-content: space-evenly;
        height: 7vh;
    }
    section h1 {
        font-size: 3rem;
        padding-top: 50px
    }
    .Contact h3 {
        font-size: 3rem;
    }
    .Contact a:hover {
        color: red;
    }
    .Music audio {
        max-width: 900px;
    }
    .Music .playlist li i {
        font-size: 1.2rem;
    }
}